USE [master]
GO
/****** Object:  Database [TeknikServisDB]    Script Date: 20.06.2025 15:17:50 ******/
CREATE DATABASE [TeknikServisDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeknikServisDB', FILENAME = N'D:\sql 2022\MSSQL16.SQLEXPRESS02\MSSQL\DATA\TeknikServisDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeknikServisDB_log', FILENAME = N'D:\sql 2022\MSSQL16.SQLEXPRESS02\MSSQL\DATA\TeknikServisDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeknikServisDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeknikServisDB]
GO
/****** Object:  Table [dbo].[DemoRequests]    Script Date: 20.06.2025 15:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](20) NOT NULL,
	[FirmaAdi] [nvarchar](150) NULL,
	[TalepMesaji] [nvarchar](1000) NULL,
	[Tarih] [datetime] NULL,
	[Durum] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DemoRequests] ON 

INSERT [dbo].[DemoRequests] ([Id], [AdSoyad], [Eposta], [Telefon], [FirmaAdi], [TalepMesaji], [Tarih], [Durum]) VALUES (1, N'sinan', N'sinan@gmail.com', N'0428248248', N'bilsoft', N'demo deneme', CAST(N'2025-06-20T10:47:22.950' AS DateTime), N'Yeni')
SET IDENTITY_INSERT [dbo].[DemoRequests] OFF
GO
ALTER TABLE [dbo].[DemoRequests] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[DemoRequests] ADD  DEFAULT ('Yeni') FOR [Durum]
GO
USE [master]
GO
